/*
Name: home.css, (TSP Capstone)
Author: Leboutillier
Date Created: 11 FEB 2020
Date Modified: 11 FEB 2020
*/

#missionStatement {
	padding-bottom: 10px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: 90%;
	max-width: 740px;
	margin: auto;
}
	
#navChoices {
	display: none;
}
	
#TspLogo {
	padding-bottom: 65px;
}
	
#flexBox {
	width: 90%;
	margin: auto;
	padding-top: 20px;
	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
	
.flexAnchor {
	border: solid black 2px;
	width: 400px;
	background-color: lightblue;
	
	margin: 30px 10px 50px 10px;
	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
	
.flexAnchor:hover {
	text-decoration: none;
	background-color: #8ac7db;
	border: solid black 3px;
	font-weight: bold;
}
	
.flexAnchor a:visited {
	text-decoration: none !important;
}
	
.flexAnchor:selected {
	text-decoration: none !important;
}
	
.imageDiv {		
	width: 40%;
	border-right: solid black 2px;
}
	
.textDiv {		
	width: 60%;
	padding: 20px;
}
	
.thumbnailPic {
	max-width: 100%
}
	
.textByThumbnail {
	text-align: center;
	font-size: 30px;
	color: black;
}