/*
Name: about.css, (TSP Capstone)
Author: Leboutillier
Date Created: 11 FEB 2020
Date Modified: 11 FEB 2020
*/

#aboutPodcast {
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom-style: solid;
	border-bottom-color: dimGrey;
}

#aboutPodcastText {
	padding-left: 25px;
	font-size: 16px; 
}

#host1, #host2 {
	padding-top: 15px;
	padding-bottom: 25px;
}

#host1Picture, #host2Picture {
	img-fluid; 
	border-radius: 6px; 
	display: block; 
	margin: auto; 
	max-height: 280px;
}

#aboutNavButton {
	text-decoration-line: underline;
	text-decoration-style: double;
}