/*
Name: admin.css, (TSP Capstone)
Author: Leboutillier
Date Created: 11 FEB 2020
Date Modified: 11 FEB 2020
*/

#mainTitle {
	text-align: center;
	margin-bottom: 20px;
}
	
#TSPadminNavButton {
	text-decoration-line: underline;
	text-decoration-style: double;
}	
		
#adminOptionsFlexContainer,
#accountOptionsFlexContainer,
#messageOptionsFlexContainer,
#mp3OptionsFlexContainer {
	max-width: 800px;
	margin: auto;
	padding: 5px 0px;
	border-bottom: solid grey 2px;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#viewMessageButtons {		
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
	
.adminOptionsBtn,
.editMessageBtn {
	border: solid black 1px;
	border-radius: 4px;
	background-color: white;
	font-size: 14px;
	text-align: center;
	height: 30px;
	width: 130px;
	margin: 10px 10px;
}

.saveCancelMessageEditBtn {
	border: solid black 1px;
	border-radius: 4px;
	background-color: white;
	font-size: 14px;
	text-align: center;
	height: 30px;
	width: 90px;
	margin: 10px 10px;
}

.accountOptionsBtn,
.messageOptionsBtn,
.mp3OptionsBtn {
	border: solid black 1px;
	border-radius: 4px;
	background-color: white;
	font-size: 14px;
	text-align: center;
	height: 30px;
	width: 160px;
	margin: 10px;
}

button {
	background-color: white;
	color: black;
	border: solid black 1px;
	border-radius: 4px;
}
	
button:hover {
	background-color: lightgrey;
}
	
#extraSpace {
	margin-bottom: 280px;
}
	
#allAccountsTable,
#allEpisodesTable {
	margin: 20px auto;
	width: 95%;
}
	
#messagesTable {
	margin: 20px auto;
	width: 90%;
}
	
.listAllAccountsEditButton,
.listAllAccountsDeleteButton,
.viewMessageButton {
	border: solid black 1px;
	border-radius: 4px;
	background-color: white;
	text-align: center;
	height: 20px;
	width: 55px;
}

td, th {
	border-bottom: solid grey 1px;
	padding: 3px;
}
	
th {
	background-color: #92b6d3;
}
	
tr:hover {
	background-color: wheat;
}
	
#createAccountForm {
	max-width: 350px;
	margin: auto;
}
	
input.text, select {
	border: 1px solid grey;
	border-radius: 4px;
	padding: 0 15px;
	height: 50px;
	font-size: 14px;
	width: 100%;
	margin-bottom: 10px;	
}

.accountChoiceHeader,
.messagesChoiceHeader {
	text-align: center;
	margin: 30px;
}
	
.displayInfoField {			
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	text-align: left;
	border-bottom: solid grey 2px;
	font-size: 15px;
	max-width: 400px;
	margin: auto;
}

.infoTitleDiv {
	width: 30%;
	padding-left: 5px;
	font-weight: bold;
}
	
.infoDisplayDiv {
	width: 55%;
	padding-left: 5px;
}
	
#individualMessageDisplayDiv {
	background-color: wheat;
	max-width: 800px;
	margin: 0px auto;
	padding: 20px;
	font-size: 15px;
}
	
#editMessageStatusDiv,
#editMessageNoteDiv {
	max-width: 40%;
	margin: auto;
	text-align: center;
}
	
#editMessageNoteInput {
	border: solid black 1px;
	border-radius: 4px;
	width: 90%;
	padding: 5px;
}
	
#accountNumberToEditQuestionForm {
	background-color: wheat;
	max-width: 400px;
	margin: 20px auto;
	text-align: center;
	padding: 5px;
}
	
#accountNumberToEdit {
	border: solid black 1px;
	border-radius: 4px;
	background-color: white;
	height: 25px;
	width: 45px;
	padding-left: 8px;
}
	
.editAccountEditCancelBtn {
	border: solid black 1px;
	border-radius: 4px;
	background-color: white;
	height: 25px;
	width: 60px;
	margin: 10px 5px 5px 5px;
}
	
.AccountEditSaveBtn {
	border: solid black 1px;
	border-radius: 4px;
	background-color: white;
	height: 20px;
	padding-bottom: 20px;
	width: 50px;
	margin: 2px;
}
		
		/* <!-- .inputBox, --> */
		/* <!-- #regionInput, --> */
		/* <!-- #accountTypeInput, --> */
		/* <!-- #typeDisplay { --> */
			/* <!-- border: solid black 1px; --> */
			/* <!-- border-radius: 4px; --> */
			/* <!-- height: 22px; --> */
			/* <!-- width: 90%; --> */
			/* <!-- margin: 5px; --> */
			/* <!-- font-size: 15px; --> */
		/* <!-- } --> */
		
#regionInput,
#accountTypeInput{
	border: solid black 1px;
	border-radius: 4px;
	height: 22px;
	width: 90%;
	margin: 5px;
	font-size: 15px;
}

.editAccountInfoInput {
	border: 1px solid grey;
	border-radius: 4px;
	padding: 0 15px;
	height: 22px;
	width: 92%;
	font-size: 14px;
}

.editAccountEditCancelBtn:hover {
	background-color: lightgrey;
}

.editButtonDiv,
.showPasswordButtonDiv {
	width: 15%;
	text-align: center;
}	
	
#cancelEditAnAccountBtnDiv{
	margin: 10px auto;
	max-width: 400px;
	text-align: center;
}
	
#editAnMP3Form {
	margin: 22px auto;
	padding: 13px 5px;
	background-color: wheat;
	max-width: 400px;
	text-align: center;			
}
	
.editMP3infoDisplay {
	width: 90%;
	height: 35px;
	border: solid black 1px;
	border-radius: 4px;
	margin: 6px auto;
	padding: 1px 0px 1px 5px;
}
		
#editMP3DescriptionInput {
	height: 90px;
}
	
.editMP3SaveCancelButton {
	height: 35px;
	width: 70px;
	margin: 0px 10px;
}

.modal-dialog {
	width: 600px;
	height: 400px;
}

.modal-body {
	margin: 30px;
	text-align: center;
}

.modalInputBox {
	width: 50%;
	min-width: 100px;
	margin: 30px auto 0px auto;
	border: solid black 1px;
	border-radius: 2px;
	padding-left: 8px;
}